<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pilot Page(demo page)</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <div id="wrapper demo-page" class="demo-page">
        <header id="header" class="mb-3">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <a class="menu-btn d-lg-none" href="#"><img src="images/menu.png"></a>
                    <div class="logo">
                        <a href="#"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                    </div>
                    <nav id="nav">
                        <a class="menu-btn d-lg-none" href="#"><img src="images/menu.png"></a>
                        <ul class="list-unstyled d-lg-flex m-0 p-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="partners-page.html">Services</a></li>
                            <li><a href="product.html">Portfolio</a></li>
                            <li><a href="blog-page.html">Blog</a></li>
                            <li><a href="contact-us.html">Support</a></li>
                        </ul>
                    </nav>
                    <div class="mobile-icon d-lg-none">
                        <a href="#"><img src="images/header-icon.png"></a>
                    </div>
                    <div class="header-right d-none d-lg-block">
                        <div class="d-flex align-items-center">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle bg-transparent border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i> EN <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>
                            <a class="btn custom-btn" href="#">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="demo-page-section mb-5 px-lg-5">
            <div class="container">
                <div class="demo-page-inside">        
                    <div class="row ">
                        <div class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center">
                            <div class="mb-3 demo-page-1 text-center text-md-start mb-5 mb-md-0">
                                <div class="demo-us-text text-center text-md-start">
                                    <h1>Learn <b>About</b> StockPilot</h1>
                                </div>
                                <p>Our pilot analytics system tracks every published trade alert, cancel, and update; as well as actual subscriber account execution prices, across all order legs.</p>
                                <a class="btn custom-btn" href="#">See how it works</a>
                            </div>
                        </div> 
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="about-us-image mb-3">
                                <div class="about-us-image-section mb-3">
                                    <img src="images/demo-page-banner.png" alt="image" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="pilot-section mb-5 px-lg-5">
            <div class="container">
                <div class="pilot-section-container">
                    <div class="row text-center">
                        <div class="col-12">
                            <h2>Pilot</h2>
                        </div>
                        <div class="col-12">
                            <div class="about-us-image mb-3 d-flex flex-column-reverse flex-md-column align-items-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="about-us-image-section mb-3">
                                    <img src="images/pilot-section-main.png" alt="image" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dealing-section mb-5 px-lg-5">
            <div class="container">
                <div class="dealing-section-container">
                    <div class="row">
                        <div class="col-12 dealing-section-header d-flex flex-column align-items-center text-center">
                            <h2>How Pilot deal with your <span>Analytics</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row dealing-section-background">
                        <div class="col-12  col-md-5 d-flex flex-column justify-content-center">
                            <div class="dealing-img-container">
                                <img src="images/dealing-section-vector.png" alt="image1" class="d-none d-md-block img-fluid mx-auto"/>
                                <img src="images/dealing-section-img1.png" alt="image2"  class="d-block d-md-none img-fluid mx-auto"/>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 text-left p-3">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="py-3">Pre-Flight Ranking</h3>
                                    <p>When new traders register with the Stock Pilot platform, they are prompted to upload a copy of their personal transaction history data provided by their brokerage. </p>
                                    <a href="#">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                      </svg> </a>
                                </div>
                                <div class="col-12 col-lg-6 p-3">
                                    <div class="dealing-card p-4">
                                        <span class="rounded-circle">2</span>
                                        <h4 class="mt-2">Platform Ranking</h4>
                                        <p>We use the Platform Ranking System to rank each Pilot.</p>
                                        <a href="#">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                          </svg> </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 p-3">
                                    <div class="dealing-card p-4">
                                        <span class="rounded-circle">3</span>
                                        <h4 class="mt-2">Pilot Analytics</h4>
                                        <p>We use the Platform Ranking System to rank each Pilot.</p>
                                        <a href="#">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                          </svg> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribes-section mb-5 px-lg-5">
            <div class="container">
                <div class="pilot-section-container">
                    <div class="row text-center">
                        <div class="col-12">
                            <h2>Subscribers</h2>
                        </div>
                        <div class="col-12">
                            <div class="about-us-image mb-3 d-flex flex-column-reverse flex-md-column align-items-center">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="about-us-image-section mb-3">
                                    <img src="images/pilot-section-main.png" alt="image" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="possition-strategy_section mb-5 px-lg-5">
            <div class="container">
                <div class="possition-strategy-container">
                    <div class="row py-5">
                        <div class="col-12 mb-5">
                            <div class="row text-center text-md-start">
                                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                                    <h2 class="mb-3">Position <span>Scaling</span></h2>
                                    <div class="possition-image-container d-md-none mb-3">
                                        <img src="images/possition-vector1.png" class="img-fluid mx-auto d-block"/>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <a href="#">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                      </svg> </a>
                                </div>
                                <div class="col-12 col-md-6 d-none d-md-block">
                                    <img src="images/possition-vector.png" class="img-fluid mx-auto d-block"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-center text-md-start">
                                <div class="col-12 col-md-6 d-none d-md-block">
                                    <img src="images/strategy-vector.png" class="img-fluid mx-auto d-block"/>
                                </div>
                                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                                    <h2 class="mb-3">Strategy Amounts</h2>
                                    <div class="strategy-image-container d-md-none mb-3">
                                        <img src="images/strategy-vector.png" class="img-fluid mx-auto d-block"/>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <a href="#">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                      </svg> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_">
            <div class="contact-us-form mb-5 col-lg-10 mx-auto d-block px-lg-5">
                <div class="text-center overflow-hidden mb-3">
                    <h2> <span>Request</span>a live demo!</h2>
                    <p>Please complete the form below and we will be in touch with you soon.</p>
                </div>
                <form class="row g-3">
                  <div class="col-md-6 col-12">
                    <label for="inputEmail4" class="form-label">Full Name<span class="times">*</span></label>
                    <input type="text" class="form-control bg-transparent" placeholder="Full Name" id="inputEmail4">
                  </div>
                  <div class="col-md-6 col-12 mb-3">
                    <label class="form-label" for="inputSelect">Select Service<span class="times">*</span></label>
                    <select class="form-select bg-transparent text-secondary" id="inputSelect" name="inputSelect">
                        <option value="Service1">Service1</option>
                        <option value="Service2">Service2</option>
                    </select>
                  </div>
                   <div class="col-md-6 col-12">
                    <label for="inputPassword5" class="form-label">Email<span class="times">*</span></label>
                    <input type="email" placeholder="mail@gmail.com" class="form-control bg-transparent" id="inputPassword5">
                  </div>
                   <div class="col-md-6 col-12">
                    <label for="inputPassword6" class="form-label">Contact Number<span class="times">*</span></label>
                    <div class="d-flex flex-row rounded border"> 
                        <select class="form-select bg-transparent text-secondary border-0 w-25 border-right" id="inputSelect" name="inputSelect">
                            <option value="us">US</option>
                            <option value="poland">POLAND</option>
                            <option value="china">CHINA</option>
                        </select>
                        <input type="password" placeholder="(+1) 000-000-1234"  class="form-control bg-transparent border-0" id="inputPassword6">    
                    </div>
                  </div>
                  <div class="mb-3">
                   <label for="exampleFormControlTextarea1" class="form-label">Description<span class="times">*</span></label>
                   <textarea class="form-control bg-transparent" placeholder="mail@gmail.com" id="exampleFormControlTextarea1" rows="4"></textarea>
                 </div>
                 <div class="communication-form mb-3 m-auto text-center">
                    <p class="mb-2">Preferred source of communication:</p>
                     <div class="communication ">
                        <div class="communication-email d-flex justify-content-between align-items-center px-5">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name=" flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                    Email
                                </label>
                            </div>
                        <div class="communication-email">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name=" flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                    Call
                                </label>
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
                    <div class="communication-btn">
                        <a class="btn custom-btn" href="#">Submit</a>
                    </div>
                    <p class="mb-2 text-center">We will never share your information</p>
                </form>
            </div>
        </div>

        <div class="testi-section">
            <div class="container">
                <div class="text-center">
                    <span class="sub-title text-uppercase d-block mb-2">Testimonials</span>
                    <h2><span>Check what our</span> clients are saying</h2>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="slider testi-image-slider">
                            <div>
                                <img src="images/img5.png" class="img-fluid">
                            </div>
                            <div>
                                <img src="images/img5.png" class="img-fluid">
                            </div>
                            <div>
                                <img src="images/img5.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="slider testi-review-text mt-4">
                            <div>
                                <div class="qoute-img mb-3">
                                    <img src="images/qoute.png">
                                </div>
                                <div class="stars-img mb-3">
                                    <img src="images/stars.png">
                                </div>
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus lacinia, scelerisque mauris ac, lacinia lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <div class="text">
                                        <strong>Areeba Shahzad</strong>
                                        <span>CEO Discord</span>
                                    </div>
                                    <div class="icon">
                                        <img src="images/icon01.png">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="qoute-img mb-3">
                                    <img src="images/qoute.png">
                                </div>
                                <div class="stars-img mb-3">
                                    <img src="images/stars.png">
                                </div>
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus lacinia, scelerisque mauris ac, lacinia lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <div class="text">
                                        <strong>Areeba Shahzad</strong>
                                        <span>CEO Discord</span>
                                    </div>
                                    <div class="icon">
                                        <img src="images/icon01.png">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="qoute-img mb-3">
                                    <img src="images/qoute.png">
                                </div>
                                <div class="stars-img mb-3">
                                    <img src="images/stars.png">
                                </div>
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel lectus lacinia, scelerisque mauris ac, lacinia lorem.</p>
                                <div class="d-flex justify-content-between">
                                    <div class="text">
                                        <strong>Areeba Shahzad</strong>
                                        <span>CEO Discord</span>
                                    </div>
                                    <div class="icon">
                                        <img src="images/icon01.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newsletter-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h2>Subscribe to SP Newsletter</h2>
                                <p>Join our mailing list to stay in the loop with our newest feature releases, tips and tricks </p>
                            </div>
                            <form action="#">
                                <input type="text" placeholder="Your Email..." class="form-control mb-3 mb-md-0">
                                <button type="submit" class="custom-btn btn btn-block w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <footer id="footer">
            <div class="container">
                <div class="footer-holder">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="footer-logo mb-3">
                                <a href="#"><img src="images/logo.png" class="img-fluid"></a>
                            </div>
                            <p class="mb-3 text-center text-md-start">Simple innate summer fat appear basket his desire joy.</p>
                            <ul class="social-icons list-unstyled d-flex align-items-center justify-content-center">
                                <li><a href="#"><img src="images/social01.png"></a></li>
                                <li><a href="#"><img src="images/social02.png"></a></li>
                                <li><a href="#"><img src="images/social03.png"></a></li>
                                <li><a href="#"><img src="images/social04.png"></a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-2 mb-3">
                            <strong class="footer-title mb-4 d-block">Home</strong>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-2 mb-3">
                            <strong class="footer-title mb-4 d-block">Resources</strong>
                            <ul class="list-unstyled">
                                <li><a href="blog-page.html">Blog</a></li>
                                <li><a href="partners-page.html">News</a></li>
                                <li><a href="demo-page.html">Guides</a></li>
                                <li><a href="contact-us.html">Help Center</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-2 mb-3">
                            <strong class="footer-title mb-4 d-block">Community</strong>
                            <ul class="list-unstyled">
                                <li><a href="#">NewsFeed</a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="partners-page.html">Friends</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-2 mb-3">
                            <strong class="footer-title mb-4 d-block">Main links</strong>
                            <ul class="list-unstyled">
                                <li><a href="#">Members</a></li>
                                <li><a href="#">Activity</a></li>
                                <li><a href="#">Groups</a></li>
                                <li><a href="#">Private Group</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <p class="m-0">Copyright @ StockPilot 2022. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    </div>

    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>